{% extends 'base.html.twig' %}
{% block stylesheets %}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"#}
{#          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"#}
{#          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}
{% block title %}Panier{% endblock %}

{% block body %}
    <body>
    <main id="main" role="main" class="choix">
        <article>
            <header>
                <img id="mainCouleur" src="{{ asset('assets/images/Header_produit_01a.png') }}" alt="">
                <p>64,99 €€</p>
                <div class="reduction">
                    <p class="btn btn-reduction">33,99 €</p>
                </div>
            </header>
            <section>
                <div class="choix-couleur">
                    <h2>Choisir une couleur</h2>
                    <div>
                        <div class="changeCouleur">
                            <img src="{{ asset('assets/images/Header_produit_01a.png') }}" alt="">
                        </div>
                        <div class="changeCouleur">
                            <img src="{{ asset('assets/images/Header_produit_02a.png') }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="choix-taille">
                    <h2>Choisir une taille</h2>
                    <span>Guide des tailles</span>
                    <div>
                        <div class="disabled"><p>38</p></div>
                        <div><p>38,5</p></div>
                        <div class="active"><p>39</p></div>
                        <div><p>40</p></div>
                        <div class="disabled"><p>41</p></div>
                        <div><p>42</p></div>
                        <div><p>43</p></div>
                    </div>
                </div>
                <div class="choix-article">
                    <h2>Nombre d'article</h2>
                    <div>
                        <span id="less">-</span>
                        <p id="quantity" type="text">1</p>
                        <span id="more">+</span>
                    </div>
                </div>
                <div class="choix-livraison">
                    <h2>Disponibilités</h2>
                    <span>Séléctionner une option</span>
                    <div>
                        <p class="reserver">Réserver en magasin</p>
                        <div class="input"><input id="rechercheMagasin" type="text"></div>
                        <div id="choiceMagasin" style="display:none;"><p>Intersport Pessac - 33 600</p></div>
                        <p id="dispoMagasin">Disponible</p>
                    </div>
                </div>
                <div class="choix-lieu">
                    <h2>Se faire livrer</h2>
                    <p>Disponible</p>
                </div>
            </section>
            <footer>
                <button style="display: none" class="btn btn-primary" id="suivantTo5"
                        data-toggle="modal"
                        data-target="#exampleModal">Valider ma commande
                </button>
            </footer>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="{{ asset('assets/images/Achat_done.png') }}" alt="">
                            <span>REF #32200</span>
                            <h5 class="modal-title" id="exampleModalTitle">Commande bien enregistré</h5>
                            <p>Retrouvez tous les détails de votre commande dans votre mail de confirmation ou sous "mes commandes" dans votre espace client.</p>
                            <button type="button" class="close btn btn-fondbleu" data-dismiss="modal" aria-label="Close">Retour à l'accueil</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </main>
    </body>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            var modal = $(this);
            $.ajax('{{ path('popUpValidation') }}', {
                success: function (data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });

        $(document).on('submit', 'form', function (e) {
            e.preventDefault();

            $form = $(e.target);
            modal = $('#exampleModal');

            var title = $('#article_title').val();

            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

            $form.ajaxSubmit({
                type: 'post',
                success: function (data) {
                    if (data == 'ok') {
                        $('ul').append('<li>' + title + '</li>');
                        modal.modal('toggle');
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function (jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false);
                }
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('assets/javascript/global.js') }}"></script>
    <script>
        $(document).ready(function () {
            changeWish();
            $("#less").click(function () {
                if (parseInt(parseInt($("#quantity").text())) > 1) {
                    $("#quantity").text(parseInt($("#quantity").text()) - 1);
                }
            });
            $("#more").click(function () {
                $("#quantity").text(parseInt($("#quantity").text()) + 1);
            })
            $(".changeCouleur").each(function () {
                $(this).click(function () {
                    $("#mainCouleur").attr("src", $(this).find("img").attr("src"));
                })
            });

            function changeWish() {
                if (localStorage.getItem("wish") == "1") {
                    $("#wish").css("display", "block")
                } else {
                    $("#wish").css("display", "none")
                }
            }

            $('#rechercheMagasin').on('input', function () {
                if ($("#rechercheMagasin").val() === "pessac") {
                    $("#choiceMagasin").css("display", "block");
                }
            });

            $("#rechercheMagasin").css("border","2px solid #f3f3f3");
            $("#choiceMagasin").click(function () {
                $("#rechercheMagasin").val("Intersport Pessac - 33 600");
                $("#dispoMagasin").text("INDISPONIBLE DANS CE MAGASIN");
                $("#rechercheMagasin").css("border","2px solid red");
                $("#dispoMagasin").css("color", "red");
            });

        });
    </script>
    <script>
        $(document).ready(function(){
            $(".btn-primary").hide();
            $(".choix-taille").find("div").find("div").click(function(){
                if($(this).hasClass("disabled")){
                }else{
                    $(".choix-taille").find("div").find("div").removeClass("active");
                    $(this).addClass("active")
                }
            });
            $(".changeCouleur").css("border-color", "white");
            $('.changeCouleur').find("img").each(function(){
                if($("#mainCouleur").attr("src") == $(this).attr("src")){
                    $(this).parent().css("border-color", "#164194");
                }
            });
            $(".changeCouleur").click(function(){
                $(".changeCouleur").css("border-color", "white");
                $(this).css("border-color", "#164194")
            });
            $(".choix-livraison").find("div:first").css({"border": "3px solid white", "cursor": "pointer"});
            $(".choix-lieu").css({"border": "3px solid white", "cursor": "pointer"});
            $(".choix-livraison").find("div:first").click(function(){
                $(".choix-lieu").css("border", "3px solid white");
                $(this).css("border", "3px solid #164194");
                $(".btn-primary").show();
            });
            $(".choix-lieu").click(function(){
                $(".choix-livraison").find("div:first").css("border", "3px solid white");
                $(this).css("border", "3px solid #164194");
                $(".btn-primary").show();
            });
        });
    </script>

{% endblock %}