{% extends 'base.html.twig' %}

{% block body %}
    <main id="main" role="main" class="tunnel-achat">
        <article>
            {#            <section class="statement">#}
            {#                <p>01.Panier</p>#}
            {#                <p>02.Identification</p>#}
            {#                <p>03.Livraison</p>#}
            {#                <p>04.Paiement</p>#}
            {#            </section>#}
            <section id="step1">
                <h2>Mon panier</h2>
                <article>
                    <div>
                        <img src="{{ asset('assets/images/Header_produit_01a.png') }}" alt="">
                    </div>
                    <div>
                        <h3>Sneakers homme Tanjun Se</h3>
                        <span>Nike</span>
                        <div>
                            <p class="oldPrice">64,99 €</p>
                            <span class="newPrice">33,99 €</span>
                        </div>
                        <p>Couleur : <span>Noir</span>&nbsp;&nbsp;&nbsp;Taille : <span>42</span></p>
                        <div>
                            <span id="less">-</span>
                            <p id="quantity" type="text">1</p>
                            <span id="more">+</span>
                            <img src="" alt="">
                        </div>
                    </div>
                </article>
                <div class="code-reduction">
                    <p>J'ai un code de réduction</p>
                    <div>
                        <input type="text" placeholder="REDUC50">
                        <button type="submit" class="btn btn-fondbleu">Ajouter</button>
                    </div>
                </div>
                <div class="recap-commande">
                    <h4>Total commande</h4>
                    <div>
                        <p>1 article</p>
                        <span class="newPrice">33,99 €</span>
                    </div>
                </div>
                <div class="payer">
                    <a href="" class="btn btn-fondbleu">Payer en ligne</a>
                    <p>ou</p>
                    <a href="" class="btn btn-fondbleu">Réserver en magasin</a>
                </div>
                <div>
                    <p class="btn btn-detail">< Continuer mes achats</p>
                </div>
            </section>
            <section id="step2" style="display: none;">
                <h2>Mon compte Intersport</h2>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <p>Je possède déjà un compte</p>
                                <span>Se connecter</span>
                            </div>
                        </div>
                        <div class="hide" style="display:none;">
                            <section>
                                <div>
                                    <label for="email">Email<sup>*</sup></label>
                                    <input type="text" name="email" placeholder="Indiquez votre adresse mail" required>
                                </div>
                                <div>
                                    <label for="mdp">Mot de passe<sup>*</sup></label>
                                    <input type="password" name="mdp" placeholder="Indiquez votre mot de passe"
                                           required>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button id="suivantToRien">Se connecter</button>
                </div>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <p>C'est ma première visite</p>
                                <span>Créer un compte</span>
                            </div>
                        </div>
                        <div class="hide" style="display:none;">
                            <section id="miniStep1" class="showbtn">
                                <h3>Mes infos personnelles (1/4)</h3>
                                <div class="radiochoice">
                                    <label for="email">Civilité<sup>*</sup></label>
                                    <div>
                                        <div>
                                            <input type="radio" name="civilite" value="mme">
                                            <label for="civilite">MME</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="civilite" value="m">
                                            <label for="civilite">M</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="nom">Nom<sup>*</sup></label>
                                    <input type="text" name="nom" placeholder="Indiquez votre nom"
                                           required>
                                </div>
                                <div>
                                    <label for="prenom">Prénom<sup>*</sup></label>
                                    <input type="text" name="prenom" placeholder="Indiquez votre prénom"
                                           required>
                                </div>
                                <div id="datenaissance">
                                    <label for="date">Date de naissance<sup>*</sup></label>
                                    <input type="text" name="date" placeholder="JJ / MM / AAAA"
                                           required>
                                </div>
                                <p class="suivantMiniStep" id="suivantToMiniStep2">Étape suivante (2/4) --></p>
                            </section>
                            <section id="miniStep2" style="display: none !important;" class="showbtn">
                                <h3>Mes coordonnées (2/4)</h3>
                                <div>
                                    <label for="adresse">Numéro et voie<sup>*</sup></label>
                                    <input type="text" name="adresse" placeholder="Indiquez votre numéro et nom de rue"
                                           required>
                                </div>
                                <div>
                                    <label for="batiment">Bâtiment, résidence</label>
                                    <input type="text" name="batiment" placeholder="Indiquez un complément d'adresse"
                                        >
                                </div>
                                <div>
                                    <label for="lieudit">Lieu dit, BP</label>
                                    <input type="text" name="lieudit" placeholder="Indiquez un complément d'adresse"
                                           >
                                </div>
                                <div>
                                    <label for="ville">Ville<sup>*</sup></label>
                                    <input type="text" name="ville" placeholder="Indiquez votre ville"
                                           required>
                                </div>
                                <div class="inline2">
                                    <div>
                                        <label for="postal">Code postal<sup>*</sup></label>
                                        <input type="text" name="postal" placeholder="00000"
                                               required>
                                    </div>
                                    <div>
                                        <label for="tel">Téléphone<sup>*</sup></label>
                                        <input type="text" name="tel" placeholder="00 00 00 00 00"
                                               required>
                                    </div>
                                </div>
                                <p class="suivantMiniStep" id="suivantToMiniStep3">Étape suivante (3/4) --></p>
                            </section>
                            <section id="miniStep3" style="display: none !important;" class="showbtn">
                                <h3>Mes préférences magasin (3/4)</h3>
                                <div>
                                    <label for="localisation">Localisation<sup>*</sup></label>
                                    <input type="text" name="localisation" placeholder="Indiquez un code postal, une ville"
                                           required>
                                </div>
                                <div>
                                    <label for="magasin">Choisissez votre magasin<sup>*</sup></label>
                                    <input type="text" name="magasin" placeholder="Sélectionner un magasin"
                                           required>
                                </div>
                                <div class="champNews">
                                    <label for="newsletter">Acceptez-vous de recevoir des informations de la part d'INTERSPORT et de ses partenaires ?</label>
                                    <div class="radiochoice">
                                        <label for="sms">Par sms<sup>*</sup>:</label>
                                        <div>
                                            <input type="radio" name="oui" value="Oui">
                                            <label for="oui">Oui</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="non" value="Non">
                                            <label for="non">Non</label>
                                        </div>
                                        </label>
                                    </div>
                                    <div class="radiochoice">
                                        <label for="mail">Par mail<sup>*</sup>:</label>
                                        <div>
                                            <input type="radio" name="oui" value="Oui">
                                            <label for="oui">Oui</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="non" value="Non">
                                            <label for="non">Non</label>
                                        </div>
                                        </label>
                                    </div>
                                </div>
                                <button class="suivantMiniStep" id="suivantToMiniStep4">Étape suivante (4/4) --></button>
                            </section>
                            <section id="miniStep4" style="display: none !important;" class="showbtn">
                                <h3>Mes identifiants (4/4)</h3>
                                <div>
                                    <label for="mail">Adresse Email<sup>*</sup></label>
                                    <input type="text" name="mail" placeholder="Indiquez votre email"
                                           required>
                                </div>
                                <div>
                                    <label for="prenom">Mot de passe<sup>*</sup></label>
                                    <input type="password" name="prenom" placeholder="Choisissez votre mot de passe"
                                           required>
                                </div>
                                <div>
                                    <label for="prenom">Confirmer votre mot de passe<sup>*</sup></label>
                                    <input type="password" name="prenom" placeholder="Retapez votre mot de passe"
                                           required>
                                </div>
                            </section>
                        </div>
                    </div>
                    <button id="popUpBefore3" style="display:none;">Valider mon inscription</button>
                </div>
            </section>
            <section id="step3" style="display: none">
                <h2>Mon mode de livraison</h2>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/retrait_magasin.png') }}" alt="">
                                <div>
                                    <p>Retrait en magasin</p>
                                    <span>Gratuit</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/retrait_point_relais.png') }}" alt="">
                                <div>
                                    <p>Livraison en point relais</p>
                                    <span>à partir de 2,50 €</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="monAdresse" class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/livraison_domicile.png') }}" alt="">
                                <div>
                                    <p>Livraison à domicile</p>
                                    <span>à partir de 4,99€</span>
                                </div>
                            </div>
                        </div>
                        <div class="hide" style="display:none;">
                            <section>
                                <div>
                                    <p>Utiliser mon adresse par défaut</p>
                                    <span>M. Michel Duval</span>
                                    <span>17 Place Paul Doumer</span>
                                    <span>33000 Bordeaux</span>
                                    <a href="#" class="btn btn-detail">Modifier l'adresse de livraison</a>
                                </div>
                                {#                                                        <div>#}
                                {#                                                            <label for="email">Email<sup>*</sup></label>#}
                                {#                                                            <input type="text" name="email" placeholder="Indiquez votre adresse mail" required>#}
                                {#                                                        </div>#}
                            </section>
                        </div>
                    </div>
                </div>
                <footer>
                    <button style="display: none" id="suivantTo4">Paiement</button>
                </footer>
            </section>
            <section id="step4" style="display: none">
                <h2>Finaliser ma commande</h2>
                <div class="recap">
                    <p>Récapitulatif de ma commande</p>
                    <div>
                        <div>
                            <p>Sneakers homme Tanjun Se</p>
                            <div>
                                <p>Couleur : noir</p>
                                <p>Taille : 42</p>
                                <p>Qte : 1</p>
                            </div>
                        </div>
                        <div>
                            <p>44.99€</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Livraison à domicile</p>
                        </div>
                        <div>
                            <p>4.99€</p>
                        </div>
                    </div>
                    <div class="total">
                        <div>
                            <div>
                                <p>Coût total</p>
                            </div>
                            <div>
                                <p>49.98€</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Choisir un mode de paiement</h3>
                <div class="displayMore" id="getPaiement">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/blue_cb.png') }}" alt="">
                                <div>
                                    <p>Carte bancaire</p>
                                    <span>Visa, Mastercard, Electron</span>
                                </div>
                            </div>
                        </div>
                        <div class="hide" style="display:none;">
                            <section>
                                <div>
                                    <label for="titulaire">Titulaire de la carte<sup>*</sup></label>
                                    <input type="text" name="titulaire" placeholder="Indiquez le nom du titulaire"
                                           required>
                                </div>
                                <div class="numero">
                                    <label for="numero">Numéro de carte<sup>*</sup></label>
                                    <input type="text" name="numero" placeholder="0000 0000 0000 0000"
                                           required>
                                </div>
                                <div class="cvc">
                                    <label for="CVC">CVC<sup>*</sup></label>
                                    <input type="text" name="CVC" placeholder="000"
                                           required>
                                </div>
                                <div>
                                    <label for="expiration">Date d'expiration<sup>*</sup></label>
                                    <input type="text" name="expiration" placeholder="MM/AA"
                                           required>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/cb_3x.png') }}" alt="">
                                <div>
                                    <p>Paielent en 4 fois sans frais</p>
                                    <span>Visa, Mastercard, Electron</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/paypal.png') }}" alt="">
                                <div>
                                    <p>Paypal</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="displayMore">
                    <div style="padding: 2.5rem;">
                        <div>
                            <div>
                                <img src="{{ asset('assets/images/gift-card.png') }}" alt="">
                                <div>
                                    <p>Carte cadeau intersport</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <footer>
                    <button style="display: none" class="btn btn-primary" id="suivantTo5"
                            data-toggle="modal"
                            data-target="#exampleModal">Valider ma commande
                    </button>
                </footer>
            </section>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="{{ asset('assets/images/Achat_done.png') }}" alt="">
                            <span>REF #32200</span>
                            <h5 class="modal-title" id="exampleModalTitle">Commande bien enregistré</h5>
                            <p>Retrouvez tous les détails de votre commande dans votre mail de confirmation ou sous "mes commandes" dans votre espace client.</p>
                            <button type="button" class="close btn btn-fondbleu" data-dismiss="modal" aria-label="Close">Retour à l'accueil</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="{{ asset('assets/images/Achat_done.png') }}" alt="">
                            <h5 class="modal-title" id="exampleModalTitle">Votre inscription est enregistrée</h5>
                            <p>Vous allez recevoir un mail de confirmation.</p>
                            <button id="suivantTo3" type="button" class="close btn btn-fondbleu" data-dismiss="modal" aria-label="Close">Poursuivre mes achats</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        changePanier();
        function changePanier(){
            if (localStorage.getItem("panier") == "1") {
                $("#panierRond").css("display", "block")
            }else{
                $("#panierRond").css("display", "none")
            }
        }
        changeWish();
        function changeWish(){
            if (localStorage.getItem("wish") == "1") {
                $("#coeurRond").css("display", "block")
            }else{
                $("#coeurRond").css("display", "none")
            }
        }
        $("#suivantToMiniStep2").click(function(){
            $("#miniStep1").removeClass("showbtn");
            $("#miniStep1").hide();
           $("#miniStep2").show();
        });
        $("#suivantToMiniStep3").click(function(){
            $("#miniStep2").removeClass("showbtn");
            $("#miniStep2").hide();
            $("#miniStep3").show();
        });
        $("#suivantToMiniStep4").click(function(){
            $("#miniStep3").removeClass("showbtn");
            $("#miniStep3").hide();
            $("#miniStep4").show();
            $("#popUpBefore3").show();
        });
        $("#popUpBefore3").click(function(){
           $("#modal2").css("display","inherit")
        });
        $(".displayMore").click(function () {
            $(".hide").hide();
            $(this).find(".hide").toggle();
            $(".displayMore").removeClass("active");
            $(this).addClass('active');
            $(".displayMore").find("> div > div:first-of-type").removeClass("active");
            $(this).find("> div > div:first-of-type").addClass("active");
        });
        $("#suivantTo3").click(function () {
            $("#step2").hide();
            $("#step3").toggle();
            $("#modal2").css("display","none")
        })
        $("#suivantTo4").click(function () {
            $("#suivantTo4").hide();
            $("#step3").hide();
            $("#step4").toggle();
        })
        $("#monAdresse").click(function () {
            $("#suivantTo4").show();
        });
        $("#getPaiement").click(function () {
            $("#suivantTo5").show();
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            var modal = $(this);
            $.ajax('{{ path('popUpProduit') }}', {
                success: function (data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });

        $(document).on('submit', 'form', function (e) {
            e.preventDefault();

            $form = $(e.target);
            modal = $('#exampleModal');

            var title = $('#article_title').val();

            var $submitButton = $form.find(':submit');
            $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
            $submitButton.prop('disabled', true);

            $form.ajaxSubmit({
                type: 'post',
                success: function (data) {
                    if (data == 'ok') {
                        $('ul').append('<li>' + title + '</li>');
                        modal.modal('toggle');
                    } else {
                        modal.find('.modal-body').html(data);
                    }
                },
                error: function (jqXHR, status, error) {
                    $submitButton.html(button.data('label'));
                    $submitButton.prop('disabled', false);
                }
            });
        });
    </script>
{% endblock %}
