{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
{% for produit in produits %}

    <h3>{{ produit.libelle }}</h3>
    <img src="{{ produit.image }}" alt="">
    <p>{{ produit.prix }} €</p>
    <p>{{ produit.quantite }} restant</p>
    <p>{{ produit.taille }}</p>
    <form action="{{  path("singleProduit", {"id": produit.id}) }}">
        <input type="submit" value="Voir plus">
    </form>
    {% endfor %}
{% endblock %}
