{% extends 'base.html.twig' %}
{% block title %}Produit{% endblock %}

{% block body %}
<body style="background-color:grey;">

<article>
        <section>
                <div>
                        <p>{{ produit.prix }} €</p>
                        <p>{{ produit.prixPromo }} €</p>
                </div>
                <div>
                        <a href="{{ path("choix", {"id": produit.id}) }}">
                                <p>Voir les disponibilités</p>
                        </a>
                </div>
        </section>
        <div>
                <img src="" alt="">
                <p>- {{ reduction }} %</p>
        </div>
        <section>
                <section>
                        <div>
                                <p>Couleurs disponibles</p>
                                <div>
                                        {% for sameProduit in allProduitType %}
                                                <a href="{{  path("singleProduit", {"id": sameProduit.id}) }}">couleur {{ loop.index }}</a>
                                        {% endfor %}
                                </div>
                        </div>
                        <div>
                                <h1>{{ produit.libelle }}</h1>
                                <div id="coeur"><p>COEUR</p></div>
                        </div>
                        <h3>{{ produitType.marque }}</h3>
                        <div>
                                <div>
                                        <img src="" alt="">
                                        <img src="" alt="">
                                        <img src="" alt="">
                                        <img src="" alt="">
                                        <img src="" alt="">
                                </div>
                                <p>10 avis</p>
                        </div>
                        <p>{{ produit.libelle }}</p>
                </section>
                <section>
                        <h2>CARACTERISTIQUES</h2>
                        <table>
                                {% if produitType.composition %}
                                        <tr>
                                                <th>Composition</th>
                                                <th>{{ produitType.composition }}</th>
                                        </tr>
                                {% endif %}
                                <tr>
                                        <th>Couleurs</th>
                                        <th>
                                        {% for sameProduit in allProduitType %}
                                               {{ sameProduit.couleur }}
                                        {% endfor %}
                                        </th>
                                </tr>
                                {% if produitType.poids %}
                                        <tr>
                                                <th>Poids</th>
                                                <th>{{ produitType.poids }}</th>
                                        </tr>
                                {% endif %}
                                <tr>
                                        <th>...</th>
                                        <th>...</th>
                                </tr>
                        </table>
                        <a href="">Plus de détails</a>
                </section>
                <section>
                        <h2>Avis de nos clients</h2>
                        <div>
                                <div>
                                        <span>3,9/5</span>
                                        <div>
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                        </div>
                                        <p>10 avis</p>
                                </div>
                                <div>
                                        <p>80% des clients recommandent ce produit</p>
                                </div>
                        </div>
                        <article>
                                <h4>J'ai reçu une autre couleur</h4>
                                <div>
                                        <div>
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                        </div>
                                        <span>Kamel H. - le 22/06/19</span>
                                </div>
                                <div>
                                        <img src="" alt="">
                                        <p>Je recommande ce produit</p>
                                </div>
                                <p></p>
                        </article>
                        <article>
                                <h4>J'ai reçu une autre couleur</h4>
                                <div>
                                        <div>
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                                <img src="" alt="">
                                        </div>
                                        <span>Kamel H. - le 22/06/19</span>
                                </div>
                                <div>
                                        <img src="" alt="">
                                        <p>Je recommande ce produit</p>
                                </div>
                                <p></p>
                        </article>
                        <a href="">Plus de détails</a>
                </section>
                <section>

                </section>
                <section>
                        <div>
                                <img src="" alt="">
                                <p>s'engage</p>
                        </div>
                        <div>
                                <div>
                                        <img src="" alt="">
                                        <span>Livraison en 48h</span>
                                        <p>A domicile et en points relais</p>
                                </div>
                                <div>
                                        <img src="" alt="">
                                        <span>Retrait gratuit en magasin</span>
                                        <p>Votre commande est préparée sous 4 heures en magasin</p>
                                </div>
                                <div>
                                        <img src="" alt="">
                                        <span>Satisfait ou remboursé</span>
                                        <p>Vous avez 15 jours pour changer d'avis</p>
                                </div>
                                <div>
                                        <img src="" alt="">
                                        <span>Service client</span>
                                        <p>Une réponse rapide et personnalisée</p>
                                </div>
                        </div>
                </section>
        </section>
</article>
<body/>
{% endblock %}

{% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>

                $(document).ready(function(){
                        changeWish();
                        $("#coeur").click(function(){
                                if(localStorage.getItem("wish") == "0"){
                                        localStorage.setItem('wish', "1");
                                        changeWish()
                                }else{
                                        localStorage.setItem('wish', "0");
                                        changeWish()
                                }
                        });
                        function changeWish(){
                                if (localStorage.getItem("wish") == "1") {
                                        $("#wish").css("display", "block")
                                }else{
                                        $("#wish").css("display", "none")
                                }
                        }
                });
        </script>
{% endblock %}
