{% extends 'base.html.twig' %}
{% block title %}Single Produit{% endblock %}
 {% block body %}
        <main id="main" role="main" class="singleproduit">
            <article>
                <header>
                    <div id="slider-singleproduit">
                        <div>
                            <img src="{{ asset('assets/images/Header_produit_01a.png') }}" alt="">
                            <div class="reduction">
                                <p class="btn btn-reduction">- 47 %</p>
                            </div>
                        </div>
                        <div>
                            <img src="{{ asset('assets/images/Header_produit_01b.png') }}" alt="">
                            <div class="reduction">
                                <p class="btn btn-reduction">- 47 %</p>
                            </div>
                        </div>
                    </div>
                </header>
                <section>
                    <header>
                        <div class="couleur">
                            <p>Couleurs disponibles</p>
                            <div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <h1>Sneakers homme Tanjun Se</h1>
                        <h3>Nike</h3>
                        <div class="etoile">
                            <div>
                                <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                <img src="{{ asset('assets/images/icone_star_empty.png') }}" alt="">
                                <img src="{{ asset('assets/images/icone_star_empty.png') }}" alt="">
                            </div>
                            <p>10 avis</p>
                        </div>
                        <p class="description-produit">« Tanjun » signifie « simplicité » en japonais et la chaussure en
                            est la parfaite
                            illustration.
                            Cette
                            édition spéciale au design moderne à la fois pratique et confortable est ornée d'un logo
                            Swoosh
                            métallique pour un style sophistiqué.</p>
                    </header>
                    <section>
                        <section class="caracteristique">
                            <h2>CARACTERISTIQUES</h2>
                            <table>
                                    <tr>
                                        <th>Composition</th>
                                        <th>Coton</th>
                                    </tr>
                                <tr>
                                    <th>Couleurs</th>
                                    <th>Gris anthracite, bordeaux</th>
                                </tr>
                                    <tr>
                                        <th>Poids</th>
                                        <th>300 grammes</th>
                                    </tr>
                                <tr id="lessCarac">
                                    <th>...</th>
                                    <th>...</th>
                                </tr>
                                <tr style="display: none" id="moreCarac">
                                    <th>Semelle</th>
                                    <th>Caoutchouc</th>
                                </tr>
                            </table>
                            <a class="btn btn-detail" id="showMoreCarac" href="">Plus de détails</a>
                        </section>
                        <section class="avis">
                            <h2>Avis de nos clients</h2>
                            <div>
                                <div>
                                    <span>3,9/5</span>
                                    <div>
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_empty.png') }}" alt="">
                                    </div>
                                    <p>10 avis</p>
                                </div>
                                <div>
                                    <p><span>80%</span> des clients recommandent ce produit</p>
                                </div>
                            </div>
                            <article>
                                <h4>J'ai reçu une autre couleur</h4>
                                <div>
                                    <div>
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_empty.png') }}" alt="">
                                    </div>
                                    <span>Kamel H. - le 22/06/19</span>
                                </div>
                                <div>
                                    <p>Je recommande ce produit</p>
                                </div>
                                <p>J'ai reçu une autre couleur que celle que j'ai commandé. J'ai commandé du bleu, je me
                                    retrouve avec une grise mais comme je pars à l'étranger et ... c'est pour offir à
                                    quelqu'un, j'ai pas trop le temps de faire un change.</p>
                            </article>
                            <article>
                                <h4>très satisfait</h4>
                                <div>
                                    <div>
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                    </div>
                                    <span>Franck C. - le 15/06/19</span>
                                </div>
                                <div>
                                    <p>Je recommande ce produit</p>
                                </div>
                                <p>Ma commande s'est bien passée. Aucune difficultée rencontrée. Livraison rapide et
                                    simple. J'adore ce que vous faites. Il y aura d'autres commandes :-)</p>
                            </article>
                            <article id="moreComment" style="display: none;">
                                <h4>très satisfait</h4>
                                <div>
                                    <div>
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                        <img src="{{ asset('assets/images/icone_star_plein.png') }}" alt="">
                                    </div>
                                    <span>Franck C. - le 15/06/19</span>
                                </div>
                                <div>
                                    <p>Je recommande ce produit</p>
                                </div>
                                <p>Ma commande s'est bien passée. Aucune difficultée rencontrée. Livraison rapide et
                                    simple. J'adore ce que vous faites. Il y aura d'autres commandes :-)</p>
                            </article>
                            <a class="btn btn-detail" id="showMoreComment" href="">Voir tous les avis</a>
                        </section>
                        <section class="more-article">
                            <h2>Vous aimerez aussi</h2>
                            <div id="more-article">
                                <div>
                                    <img src="{{ asset('assets/images/Produit_similaire_03.png') }}" alt="">
                                    <h5>Sneakers homme Air Pegasus</h5>
                                    <h6>NIKE</h6>
                                    <div>
                                        <div class="prix"><p>74,99 €</p></div>
                                        <div class="prix-reduction"><p>44,99 €</p></div>
                                    </div>
                                </div>
                                <div>
                                    <img src="{{ asset('assets/images/Produit_similaire_02.png') }}" alt="">
                                    <h5>Sneakers homme Nightgazer</h5>
                                    <h6>NIKE</h6>
                                    <div>
                                        <div class="prix"><p>74,99 €</p></div>
                                        <div class="prix-reduction"><p>44,99 €</p></div>
                                    </div>
                                </div>
                                <div>
                                    <img src="{{ asset('assets/images/Produit_similaire_01.png') }}" alt="">
                                    <h5>Veste à capuche homme Sportswear Ft Statement</h5>
                                    <h6>NIKE</h6>
                                    <div>
                                        <div class="prix"><p>74,99 €</p></div>
                                        <div class="prix-reduction"><p>44,99 €</p></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </section>
                <footer>
                    <div>
                        <p>64,99 €</p>
                        <p>33,99 €</p>
                    </div>
                    <div>
                        <a class="btn btn-fondbleu" href="{{ path("choix", {"id": produit.id}) }}">Voir les disponibilités</a>
                    </div>
                </footer>
            </article>
        </main>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script>
         $(document).ready(function(){
             changeWish();
             $("#showMoreCarac").click(function(event){
                 event.preventDefault();
                 $("#lessCarac").remove();
                 $("#moreCarac").show();
                 $(this).hide();
             });
             $("#showMoreComment").click(function(event){
                 event.preventDefault();
                 $("#moreComment").show();
                 $(this).hide();
             });
             $("h1").click(function(){
                 if(localStorage.getItem("wish") == "0"){
                     localStorage.setItem('wish', "1");
                     changeWish()
                 }else{
                     localStorage.setItem('wish', "0");
                     changeWish()
                 }
             });
             function changeWish(){
                 if (localStorage.getItem("wish") == "1") {
                     $("#wish").css("display", "block")
                 }else{
                     $("#wish").css("display", "none")
                 }
             }
         });
     </script>
    {% endblock %}